<div class="col-2">
	<div class="list-group">
		<li class="list-group-item font-weight-bold" style="background-color: rgb(240, 240, 240)"> Admin Page</li>
		<a class="list-group-item" href="/admin/userinfo"  style="background-color: rgb(240, 240, 240)">회원정보관리</a>
		<a class="list-group-item" href="/admin/sellerinfo" style="background-color: rgb(240, 240, 240)">판매자정보관리</a>
		<a class="list-group-item" href="/admin/salereqmanage" style="background-color: rgb(240, 240, 240)">판매자요청관리</a>
		<a class="list-group-item" href="/admin" style="background-color: rgb(240, 240, 240)">판매량통계</a>
	</div>
</div>