<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>쇼핑몰</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="theme.css" type="text/css"> 
  <style type="text/css">
  <!--
	.btn-group {
		font-size:0.8rem;
	}

	.btn {
		font-size:0.8rem;
	}
  !-->
  </style>
 </head>

<body class="Head_nav">
  <td><!--상단 메뉴 인클루드--><% include ./top.ejs %></td>
  <div class="" align="right">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="btn-group">
            <a href="/list" class="btn btn-primary">이름순</a>
            <a href="#" class="btn btn-primary">낮은가격순</a>
            <a href="#" class="btn btn-primary">높은가격순</a>
			<a href="#" class="btn btn-primary">판매순</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <div class="container-fluid">
	  <%
		var count = 0;
		for(var i=0; i<rows.length; i++)
		{
			var oneItem = rows[i];
			if(count == 0){
	  %>
			 <div class="row bg-light" id="product_row">
	  <%
			}
	  %>
			<div class="col pt-5 mb-3 bg-secondary mx-2 p-0">
				<a href="/list/<%=oneItem.code%>"><img class="d-block mx-auto" src="/image/<%=oneItem.code%>.jpg" width="250" height="200"></a>
				<p class=""><%=oneItem.name%></p>
				<p class=""><%=oneItem.price%>원</p>
			</div>
	  <%	
			count++;
			if(count == 4){
				count = 0;
	  %>
			 </div>
	  <%	
			}
			if(i==rows.length-1){
				if(count != 0){
					while(count != 4){
	  %>
			<div class="col pt-5 mb-3 bg-light mx-2 p-0">
			</div>
	  <%
						count++;
					}
				}
			}
		}
	  %>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>