<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>쇼핑몰</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="/theme.css" type="text/css">

</head>
<body class="Head_nav">
  <td><!--상단 메뉴 인클루드--><% include ./top.ejs %></td>
  <div class="row">
    <td><!--사이드 메뉴 인클루드--><% include ./noticeSide.ejs %></td>
    <div class="col-md-6" >
      <div class="card">
        <div class="card-header">
            <h4><%=row.title%></h4>
        </div>
        <div class="card-body">
          <p><%=row.content%></p>
        </div>
      </div>
      <div class="py-2">
        <div align="right" style="margin:0 5%;">
          <input class="btn btn-dark" type="button" name="버튼" value="목록으로" onclick="location.href='/notice'"; style="vertical-align: left;">
          <% if(admin){%>
          <input class="btn btn-dark" type="button" name="버튼" value="글쓰기" onclick="location.href='/notice/write'"; style="vertical-align: left;">
          <input class="btn btn-dark" type="button" name="버튼" value="수정하기" onclick="location.href='/notice/update?idx=<%=row.idx%>'"; style="vertical-align: left;">
          <input class="btn btn-dark" type="button" name="버튼" value="삭제하기" data-toggle="modal" data-target="#myModal" style="vertical-align: left;">
          <%}%>
        </div>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">삭제하기</h4>
                <button type="button" class="close" data-dismiss="modal">
                  <span aria-hidden="true">×</span>
                  <span class="sr-only">Close</span>
                </button>
              </div>
              <div class="modal-body"> 삭제하시겠습니까? </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
                <button type="button" class="btn btn-primary" onclick="location.href='/notice/delete?idx=<%=row.idx%>'">삭제</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</body>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>