<div class="col-2" style="border-right:1px solid lightgrey">
   <div class="list-group">
    <li class="list-group-item font-weight-bold" style="background-color: rgb(240, 240, 240)"> Notice</li>
    <a class="list-group-item" href="/notice" style="background-color: rgb(240, 240, 240)">공지사항</a>
    <a class="list-group-item" href="#" style="background-color: rgb(240, 240, 240)">FAQ</a>
    <a class="list-group-item" href="#"  style="background-color: rgb(240, 240, 240)">1:1 문의</a>
  </div>
</div>