<nav class="navbar navbar-expand-md bg-secondary navbar-dark">
      <a class="navbar-brand" href="/">쇼핑몰
        <br> </a>
      <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <form class="form-inline m-0">
            <input class="form-control mr-2" type="text" placeholder="Search">
            <button class="btn btn-primary btn-sm" type="submit">
              <i class="fa fa-fw fa-search d-block"></i>
            </button>
          </form>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="fa fa-fw fa-shopping-cart"></i>장바구니
                <br> </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">배송조회
                <br> </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">공지사항
                <br> </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">1:1 문의
                <br> </a>
            </li>
            <li class="nav-item">
      <% if( !username) {%>
            <a class="nav-link" href="/login" id='login'>
              <i class="fa fa-fw fa-user"></i>
        로그인
      <% } else { %>
           <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><%=username%>
                <i class="fa fa-fw fa-user"></i>
              </a>   
            <div class="dropdown-menu">
            <a class="dropdown-item" href="/user">MyPage</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout">로그아웃</a>
            </div>
            </li>
         <% } %>
              <br> </a>
          </li>
          <li class="nav-item">
      <% if( !username) {%>
            <a class="nav-link" href="/join">
              <i class="fa fa-fw fa-user-plus"></i>회원가입
        <% } else { %><a class="nav-link" href="/">
        <%=username%>님 환영합니다! <% } %>
              <br> </a>
          </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="">
      <div class="container-fluid">
        <div class="row bg-light">
          <div class="">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link" href="/" >
                  <i class="fa fa-home fa-home"></i>&nbsp;메인&nbsp;
                  <br> </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/list">전체
                  <br> </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">세일상품
                  <br> </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">운동기구
                  <br> </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">의류
                  <br> </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">보충제
                  <br> </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>